<h2>Milo<h2>
<h3>Session Information </h3>
<p>Name: {{ session.name }}</p>
<p>Description: {{ session.description }}</p>
<p>Location: {{ session.location }}</p>
<p>Workout date: {{ session.workout_date }}</p>
{% if request.user.is_authenticated %}
{% if request.user != session.created_by %}
{% if session.id not in sesh_ids %}
<form action="/session/{{ session.id }}/join" method="post">
	{% csrf_token %}
	<input type="submit" value="Join"/>
</form>
{% endif %}
{% endif %}
{% if request.user != session.created_by %}
{% if session.id in sesh_ids %}
<form action="/session/{{ session.id }}/leave" method="post">
	{% csrf_token %}
	<input type="submit" value="Leave"/>
</form>
{% endif %}
{% endif %}
{% if request.user == session.created_by %}
<form action="/session/{{ session.id}}/delete" method="post">
	{% csrf_token %}
	<input type="submit" value="Delete"/>
</form>
{% endif %}
{% endif %}
<a href="/">Back to home.</a>
